PORT=8000


# Format: postgresql://<username>:<password>@<host>:<port>/<db_name>?sslmode=require
DATABASE_URL=postgresql://user:pass@host:port/db_name?sslmode=require

# Your server's base URL (issuer)
# Must match exactly what clients use
# Example (local): http://localhost:8000
# Example (prod): https://your-domain.com
ISSUER=http://localhost:8000

# Key ID used in JWT header (kid)
# Can be any unique string, used for key rotation later
# Example: key-1
KEY_ID=key-1

# can run script- sh key-gen.sh
# Generate using: openssl genrsa -out private-key.pem 2048
PRIVATE_KEY_PATH=./cert/private-key.pem

# Generate using: openssl rsa -in private-key.pem -pubout -out public-key.pub
PUBLIC_KEY_PATH=./cert/public-key.pub

# Access token expiry (in seconds)
# Example: 3600 = 1 hour
ACCESS_TOKEN_TTL_SECONDS=3600

# Refresh token expiry (in seconds)
# Example: 2592000 = 30 days
REFRESH_TOKEN_TTL_SECONDS=2592000

# Authorization code expiry (in seconds)
# Short-lived for security
# Example: 300 = 5 minutes
AUTHORIZATION_CODE_TTL_SECONDS=300

# BFF web session settings
WEB_SESSION_TTL_SECONDS=604800
WEB_FLOW_COOKIE_TTL_SECONDS=600
WEB_SESSION_COOKIE_NAME=oidc_web_session
WEB_FLOW_COOKIE_NAME=oidc_web_flow
WEB_BFF_CLIENT_ID=oidc-web-client
WEB_BFF_SCOPE=openid profile email offline_access
WEB_BFF_REDIRECT_URI=http://localhost:8000/web/login/callback

# Only needed if you're using ImageKit for uploads
# Get these from https://imagekit.io
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# Set to 'development' or 'production'
NODE_ENV=development